html,
body {
  background-color: black;
}

p,
h1,
h3 {
  font-family: Helvetica, Arial, sans-serif;
  color: white;
}

/* a container for kobjects, which are positioned with respect to it*/
.kobject {
  position: absolute;
  display: inline-block;
  /* color set in script */
  /* width and height set in script (must be equal) */
  /* top & left (X and Y) placement set in script */
}

#tooltip {
  position: absolute;
  width: 80px;
  height: auto;
  padding: 5px;
  background-color: #2c2c2c;
  border: 1px solid lightgray;
  border-radius: 5px;
  pointer-events: none;
  top: 540px;
  left: 15px;
}

#tooltip.hidden {
  display: none;
}

#tooltip p {
  font-size: 0.75em;
  margin: 0;
  padding: 3px;
}

#planets {
  position: absolute;
  width: 500px;
  height: 400px;
  padding: 10px;
  background-color: #0e0e0e;
  border: 1px solid lightgray;
  border-radius: 5px;
  pointer-events: none;
  top: 100px;
  left: 200px;
}

.slider {
  width: 200px;
}

.star {
  opacity: 0.7;
}

.star:hover {
  opacity: 1;
}
